- name: Setup autostart for kiosk displays
  template: src=autostart.j2 dest=/home/pi/.config/lxsession/LXDE-pi/autostart owner=pi group=pi mode=0644

- name: Install package to hide cursor
  become: true
  apt: name=unclutter state=present